// @use "../variables" as v;
@import "../variables";

.summary {
  .header {
    margin-top: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    color: $dark-blue;
  }

  .paragraph {
    margin-top: 20px;
    text-align: center;
    color: $desaturated-blue;
    line-height: 25px;
  }
}
