// Primary colors
$pale-blue: hsl(225, 100%, 94%);
$light-blue: hsl(245, 75%, 52%);
$lighter-blue: hsl(245, 83, 68);

// Secondary colors
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Typography
$font-size: 16px;

// Border
$border-radius: 30px;

// Breakpoints
$breakpoint-desktop: 1440px;
