@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import "./variables";

.order_summary {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: $pale-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: $font-size;

  @media (min-width: $breakpoint-desktop) {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/pattern-background-desktop.svg);
  }

  .body {
    background-color: white;
    width: 330px;
    overflow: hidden;
    border-radius: $border-radius;

    @media (min-width: $breakpoint-desktop) {
      width: 420px;
    }

    .hero {
      height: 160px;
      width: 330px;
      object-fit: contain;

      @media (min-width: $breakpoint-desktop) {
        width: 430px;
        object-fit: cover;
      }
    }
  }
}
